<header>
  <nav class="navbar">
    <ul class="menu-items">
      <li class="menu-item">
        <a class="<%= path === '/' ? 'active' : '' %> menu-link" href="/"
          >HOME</a
        >
      </li>
      <li class="menu-item">
        <a
          class="<%= path === '/books' ? 'active' : '' %> menu-link"
          href="/books"
          >BOOKS</a
        >
      </li>
      <li class="menu-item">
        <a
          class="<%= path === '/add-book' ? 'active' : '' %> menu-link"
          href="/add-book"
          >ADD BOOK</a
        >
      </li>
      <li class="menu-item">
        <a
          class="<%= path === '/update-book' ? 'active' : '' %> menu-link"
          href="/update-book"
          >UPDATE BOOK</a
        >
      </li>
      <li class="menu-item">
        <a
          class="<%= path === '/remove-book' ? 'active' : '' %> menu-link"
          href="/remove-book"
          >REMOVE BOOK</a
        >
      </li>
      <li class="menu-item">
        <a
          class="<%= path === '/search-book' ? 'active' : '' %> menu-link"
          href="/search-book"
          >SEARCH BOOKS</a
        >
      </li>
      <li class="menu-item">
        <a
          class="<%= path === '/add-author' ? 'active' : '' %> menu-link"
          href="/add-author"
          >ADD AUTHOR</a
        >
      </li>
    </ul>
  </nav>
</header>
