<!DOCTYPE html>
<html lang="en">
  <%- include('./shared/head') %>
  <body>
    <%- include('./shared/navbar') %>
    <main class="container">
      <% if (books.length === 0) { %>
      <h1>No Books to list</h1>
      <% } else { %>
      <h1>List of all Books</h1>
      <table class="table">
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>ISBN</th>
          <th>Date</th>
          <th>Summary</th>
        </tr>
        <% for ({title, author, isbn, date, summary} of books) { %>
        <tr>
          <td><%= title %></td>
          <td><%= author.name.firstName %> <%= author.name.lastName %></td>
          <td><%= isbn %></td>
          <td><%= date %></td>
          <td><%= summary %></td>
        </tr>
        <% } %>
      </table>
      <% } %>
    </main>
  </body>
</html>
