<!DOCTYPE html>
<html lang="en">
  <%- include('./shared/head') %>
  <body>
    <%- include('./shared/navbar') %>
    <main class="container">
      <h1>Update Book</h1>
      <form
        class="add-form"
        method="POST"
        action="/update-book/<%= book._id %>"
      >
        <div class="form-item">
          <label for="title">Title</label>
          <input
            value="<%= book.title %>"
            type="text"
            name="title"
            id="title"
          />
        </div>
        <div class="form-item">
          <label for="authorFirst">Author First Name</label>
          <input
            value="<%= book.authorName.firstName %>"
            type="text"
            name="authorFirst"
            id="authorFirst"
          />
        </div>
        <div class="form-item">
          <label for="authorLast">Author Last Name</label>
          <input
            value="<%= book.authorName.lastName %>"
            type="text"
            name="authorLast"
            id="authorLast"
          />
        </div>
        <input
          hidden
          value="<%= book.isbn %>"
          type="number"
          name="isbn"
          id="isbn"
        />
        <div class="form-item">
          <label for="created">Date of Publication</label>
          <input
            value="<%= book.created %>"
            type="date"
            name="created"
            id="created"
          />
        </div>
        <div class="form-item">
          <label for="summary">Summary</label>
          <textarea id="summary" name="summary" rows="3" cols="5">
<%= book.summary %></textarea
          >
        </div>
        <div class="form-item">
          <button class="submit" type="submit">Update Book</button>
        </div>
      </form>
    </main>
  </body>
</html>
