<!DOCTYPE html>
<html lang="en">
  <%- include('./shared/head') %>
  <body>
    <%- include('./shared/navbar') %>
    <main class="container">
      <h1>Update Book</h1>
      <form class="add-form" method="POST" action="/update-book/<%= book._id %>">
        <div class="form-item">
          <label for="title">Title</label>
          <input value="<%= book.title %>" type="text" name="title" id="title" />
        </div>
        <div class="form-item">
          <label for="author">Author</label>
          <input value="<%= book.author %>" type="text" name="author" id="author" />
        </div>
        <input hidden value="<%= book.isbn %>" type="number" name="isbn" id="isbn" />
        <div class="form-item">
          <label for="date">Date of Publication</label>
          <input value="<%= book.date %>" type="date" name="date" id="date" />
        </div>
        <div class="form-item">
          <label for="summary">Summary</label>
          <textarea id="summary" name="summary" rows="3" cols="5"><%= book.summary %></textarea>
        </div>
        <div class="form-item">
          <button class="submit" type="submit">Update Book</button>
        </div>
      </form>
    </main>
  </body>
</html>
